<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Biblioteca</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Tu lugar favorito para encontrar los mejores libros</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Puedes encontrar tus libros favoritos ya que poseemos una amplia gama de generos literarios para todo publico.</p>
                    <a class="btn btn-primary btn-xl" href="#portfolio">Administración</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Módulo de Administración</h2>
            <hr class="divider" />
        </div>
    </section>
    <!-- Portfolio-->
    <div id="portfolio" class="container align-content-center">
        <div class="container-fluid p-5">
            <div class="row g-5">
                <div class="col-lg-6 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("MainPrestamo", "Prestamo")" title="Prestamos">
                        <img class="img-fluid" src="~/assets/img/prestamoBiblioteca.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-name">Prestamos</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("MainCliente", "Cliente")" title="Clientes">
                        <img class="img-fluid" src="~/assets/img/clientesBiblioteca.jpeg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-name">Clientes</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("MainAutor", "Autor")" title="Project Name">
                        <img class="img-fluid" src="~/assets/img/portfolio/Autores.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Administración</div>
                            <div class="project-name">Autores</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("MainEditorial", "Editorial")" title="Project Name">
                        <img class="img-fluid" src="~/assets/img/portfolio/fullsize/1.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Administración</div>
                            <div class="project-name">Editoriales</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("MainGenero", "Genero")" title="Project Name">
                        <img class="img-fluid" src="~/assets/img/portfolio/generosApi.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Administración</div>
                            <div class="project-name">Género</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a class="portfolio-box" href="@Url.Action("MainLibro", "Libro")" title="Project Name">
                        <img class="img-fluid" src="~/assets/img/portfolio/librosApi.jpg" alt="..." />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Administración</div>
                            <div class="project-name">Libros</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2024 - Tu Biblioteca</div></div>
    </footer>



    <!-- Navigation

         @Html.ActionLink("Prestamos", "MainPrestamo")

                @RenderBody()

                <li></li>
        <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
             <hr />
     <footer>
         <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
     </footer>

    -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
